
.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 9.071rem;

  flex-direction: column;
}

.contentDiv {
  display: flex;
  max-width: 137.142rem;
  max-height: 54.285rem;
  flex-wrap: wrap;
  flex-direction: column ;
 align-items: center;
 
}

@media (max-width: 1300px)
{
  .containerDiv
   {
    max-width: 100.142rem !important;
    max-height: 30.285rem !important;
   }

   .contentDiv {
    max-width: 100.142rem !important;
    max-height: 30.285rem !important;
   }
   .contentDiv h3 {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
  
  .contentDiv p {
    padding-top: 1rem !important;
    font-size: 1rem !important;
    text-align: center;
  }
  
  .buttonOne {
    padding-left: 1.142rem;
    padding-right: 1.142rem;
    height: 3.571rem;
    width: 15.857rem;
    background: #EDA72D;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
  }
   
}
@media (max-width: 700px)
{
  .containerDiv
   {
    max-width: 100.142rem !important;
    max-height: 30.285rem !important;
   }

   .contentDiv {
    max-width: 100.142rem !important;
    max-height: 30.285rem !important;
   }
   .contentDiv h3 {
    font-size: 1rem !important;
    font-weight: bold;
  }
  
  .contentDiv p {
    padding-top: 1rem !important;
    font-size: 0.7rem !important;
    text-align: center;
  }
  
  .buttonOne {
    padding-left: 1.142rem;
    padding-right: 1.142rem;
    height: 3.571rem;
    width: 10.857rem;
    background: #EDA72D;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
  }
   
}

@media (max-width: 600px)
{
  
}

.contentDiv h3 {
  font-size: 2.5rem;
  font-weight: bold;
}


.buttonOne {
  padding-left: 2.142rem;
  padding-right: 2.142rem;
  height: 3.571rem;
  max-width: 27.857rem;
  background: #EDA72D;
  border-radius: 30px;
  border: none;
  transition: 0.3s;
}

.buttonOne:hover{
  background-color: #FFF;
}

.buttonOne span {
  color: #18381E;
  font-size: 14px !important;

}


@media (max-width: 600px)
{
  .w-100
   {
    background-size: contain;
    width: 100;
    height: 48.5714rem !important;
   }

 .d-block {
     display: none !important;
     align-items: center;
   }

   .containerDiv
   {
     display: flex;
     
    max-width: 100.142rem !important;
  height: 100rem;
   }

}